.Container {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.Container > label {
  margin-bottom: 0;
  font-size: 12px;
  padding: 5px 10px 5px 20px;
  background: #870000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-weight: 500;
  width: 150px;
  border-radius: 5px;
}

.Block {
  background: #FC354C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 12px;
  padding: 5px 10px 5px 20px;
  color: #fff;
  font-weight: 500;
  width: 200px;
  margin-left: -10px;
  border: none;
  height: 28px;
}

input:focus {
  outline: none;
}

select {
  color: #303641;
  background: #FC354C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 12px;
  padding: 5px 10px 5px 20px;
  font-weight: 500;
  width: 200px;
  margin-left: -10px;
  border: none;
  height: 28px;
}

select:focus {
  outline: none;
}