.MenuHeader {
    display: flex;
    padding: 35px 25px;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    background: #303641;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #303641);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #303641); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Logo {
    display: flex;
    color: #fff;
    font-size: 14px;
    flex-direction: column;
    font-weight: 500;
}

.Logo img {
    flex: 1 0 34px;
}


